/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  /* background-image: url(https://subtlepatterns.com/patterns/kindajean.png); */
  /* background-color: #f7f7f7; */
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  position: relative;
}

.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
}

.footer {
  padding: 20px 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #3c3d41;
  color: white;
  text-align: center;
}

/* ---------------------------------------------------------------- */
/* MENU         --------------------------------------------------- */
/* ---------------------------------------------------------------- */
.bg-secondary {
  background-color: #edeae6!important;
  /* #e6dfdc !important; */
}

.navbar {
  /* box-shadow: 0px 1px 10px #dedede; */
  border-bottom: 0.1px solid #e1e1e1bd;
}


/* .layout-social .layout-icon {
  font-size: 1.5em;
} */
/* ---------------------------------------------------------------- */
/* BUTTONS      --------------------------------------------------- */
/* ---------------------------------------------------------------- */
.btn-outline-success {
  color: #000000;
  border-color: transparent;
}

.btn-outline-success:hover,
.btn-outline-success:active,
.btn-outline-success:focus {
  color: #000000;
  background-color: transparent;
  border-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.show > .btn-outline-success.dropdown-toggle {
  color: #000000;
  background-color: transparent;
  border-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(212, 71, 0, 0);
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
}

.form-control:focus {
  border-color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(212, 71, 0, 0);
}

/* back to top button */
.btt {
  display: none;
  background: #d445004a;
  width: 50px;
  position: fixed;
  right: -12px;
  bottom: 10px;
  z-index: 9998;
  border: 1px solid #fff;
  border-radius: 10px;
}

.btt:hover {
  background: #d44500;
  box-shadow: 5px 10px 25px #555;
}

.btt i {
  color: #ffffff4a;
  font-size: 25px;
  padding: 7px;
}

.btt i:hover {
  color: #fff;
}

.icon {
  font-size: 22px;
  color: #8a8074;
  padding: 4px;
}

.icon:hover {
  color: #d44500;
  /* box-shadow: 5px 10px 25px #555; */
}

/* ---------------------------------------------------------------- */
/* FONTS         -------------------------------------------------- */
/* ---------------------------------------------------------------- */
a.logofont {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 25px;
}

a.anylink {
  /* font-weight: 600; */
  /* color:#501b01; */
  /* color: #18254b; */
  text-decoration-line: underline;
  text-decoration-thickness: 0.75px;
  text-underline-offset: 2.5px;
  /* text-decoration-color: #b1b8d3;  */
  text-decoration-color: #e2aa8e; 
  /* #f8c7b6; */
}

a.anylink:hover {
  color: #d44500;
  cursor: pointer;
}

a.anylink2:hover {
  color: #d44500;
  cursor: pointer;
}

h2 {
  /* font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 23px; */
  font-family: "garamond-premier-pro", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
}

h3 {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 80px;
  /* color: rgb(255, 255, 255, .9); */
}

h4.card-title {
  /* font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 23px; */
  font-family: "garamond-premier-pro", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
}

/* h4 {
        font-family:'webBradford-Regular';
        font-weight: 400;
        font-size: 100px;
    } */

h5 a,
h5 a:hover,
a:hover,
a {
  color: inherit; /* text-reset gets rid of the link's color*/
  text-decoration: none; /* class text-decoration-none link won't be underlined*/
}

h6 {
  font-family: "Crimson Text", serif;
  font-weight: bold;
  font-size: 22px;
  color: #d44500;
}

/* ---------------------------------------------------------------- */
/* CARDS       ---------------------------------------------------- */
/* ---------------------------------------------------------------- */
.embed-responsive .card-img-top {
  object-fit: cover;
}

.bg-light {
  background-color: #f8f9fa !important; /* d5d3d0  */
}

.card {
  /* box-shadow: 0px 0 35px 0 rgb(0 0 0 / 8%); */
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.01);
  /*  transition: box-shadow 0.3s ease-in-out; */
  /*  border:1px solid rgba(221, 221, 221, 0.137); */
  /*  cursor: pointer; */
  /*  border-radius: 4px; */
}

.card:hover {
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.3);
}

h5.card-title {
  font-family: "Crimson Text", sans-serif;
  font-weight: 400;
  font-size: 28px;
}

.card p {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-size: 15px;
  /* letter-spacing: 0.494px;
    line-height: 17.94px; */
}

.cardEssay card {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.01);
}

.cardEssay .card-header {
  background-color: #f8f9fa;
  border-top: 1px solid #c9c8c8;
}
/* ---------------------------------------------------------------- */
/* ESSAY        --------------------------------------------------- */
/* ---------------------------------------------------------------- */
p.drop-cap:first-letter {
  color: #d44500;
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

hr.title {
  border-top: 1px solid #919191;
  margin-top: 10px;
}

hr.end {
  border-top: 1px solid #d44500;
}

.essay p {
  font-family: "Crimson Text", serif; /* 'Merriweateher', adobe-garamond-pro', 'garamond-premier-pro', 'webBradford-Regular', */
  /* font-family: 'Piazzolla', serif; */
  /* font-family: 'Source Serif Pro', serif; */
  font-weight: 400;
  font-size: 23px;
  line-height: 35px;
  /* letter-spacing: 0.5px; */
}

p.by-author {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

p.biography {
  /* font-family: 'Lora', sans-serif; */
  font-family: "Crimson Text", serif;
  font-size: 18px;
  line-height: 24px;
}

p.essays,
a.description {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

p.sources {
  font-family: "Crimson Text", serif;
  /* font-weight: 400; */
  /* font-family: 'Source Serif Pro', serif; */
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

sup {
  /* font-family: 'Lora'; */
  /* font-family: 'Source Serif Pro', serif; */
  font-family: "Crimson Text", serif;
  vertical-align: super;
  font-size: 18px;
  font-weight: 400;
  /* margin-bottom: 2em; */
  /* font-weight: bold; */
}

/* footnote with color */
mark.orange {
  color: #000000;
  background: none;
  font-weight: bolder;
}

h1.essay-title {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-size: 50px;
}

/* Teresa's poems */
.tab {
  display: inline-block;
  margin-left: 40px;
}

a.by-author {
  color: #d44500;
  font-weight: bold;
}

.essay a {
  text-decoration-line: underline;
  text-decoration-thickness: 0.75px;
  /* text-decoration-color: #ccc; */
  text-decoration-color: #e2aa8e; 
  text-underline-offset: 2.5px;
}

.essay a:hover {
  color:#d44500;
}

a.anchor {
  padding-top: 80px;
  color: #d44500;
  text-decoration-line: none;
}

a.backanchor {
  color: #d44500;
  text-decoration-line: none;
}

blockquote {
  font-family: "Crimson Text", serif;
  position: relative;
  font-style: italic;
  margin: 2em;
  padding: 3em 5em 2em 6em;
}

blockquote:before {
  font-family: serif;
  position: absolute;
  font-size: 8em;
  line-height: 1;
  top: 0;
  left: 0;
  content: "\201C";
  color: #ce9579;
}
blockquote:after {
  font-family: serif;
  position: absolute;
  display: block; 
  float:right;
  font-size: 8em;
  line-height: 1;
  right:0;
  bottom:-0.5em;
  content: "\201D";
  color: #ce9579;
}
blockquote footer {
  padding: 0 2em 0 0;
  text-align:center;
}
blockquote cite:before {
  content: "\2013";
}

/* ---------------------------------------------------------------- */
/* IMAGES       --------------------------------------------------- */
/* ---------------------------------------------------------------- */

/* .figure {
  display: table;
  margin: 0;
} */

.figure img {
  max-width: 100%;
}

/* center figure */
.figure {
  display: table;
  margin-right: auto;
  margin-left: auto;
}

/* .figcaption {
  display: table-caption;
  caption-side: bottom;
  background: pink;
  padding: 10px;
} */

.figure-caption {
  font-size: 11px;
  color: rgb(102, 102, 102);
  display: table-caption;
  caption-side: bottom;
  padding: 3px;
}

.figure img:hover {
  cursor: pointer;
}

.figure:hover::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: url('img/expand.png') center no-repeat;
  background-size: 80px;
  opacity: 0.5;
  cursor: pointer;
  pointer-events: none;
}

.carousel-caption {
  position: relative;
  top: 0;
  left: 0;
  color: rgb(102, 102, 102);
  font-size: 11px;
  text-align: left;
  padding: 5px;
}

.carousel-indicators {
  /* top: 0; */
  bottom: 20px;
}

.carousel-indicators li {
  width: 20px;
  height: 1px;
  border: 1px solid #fff;
  /* border: 1px solid rgb(128, 128, 128); */
  border-radius: 1px;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 10px;
}

.top-content .carousel-control-prev {
  /* left: -110px; */
  left: 0px;
  border-bottom: 0;
  font-size: 40px;
  color: rgb(215, 215, 215);
  /* color: #8a8074; */
}

.top-content .carousel-control-next {
  /* right: -110px; */
  right: 0px;
  border-bottom: 0;
  font-size: 40px;
  color: #fff;
  /* color: #8a8074; */
}

.carousel-indicators .active {
  background-color: #fff;   
  /* background-color:#8a8074; */
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  /* background: no-repeat 50%/100% 100%; */
}

.carousel-item:hover::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: url('img/expand.png') center no-repeat;
  background-size: 80px;
  opacity: 0.5;
  cursor: pointer;
}

/* ---------------------------------------------------------------- */
/* LIST OF ESSAYS ------------------------------------------------- */
/* ---------------------------------------------------------------- */

.column {
  float: left;
  padding: 10px;
  /*height: 300px;  Should be removed. Only for demonstration */
}

/* author to the left */
.left {
  width: 25%;
}

/* short essay description to the right */
.right {
  width: 75%;
}

/* Clear floats after the columns */
/* .row:after {
    content: "";
    display: table;
    clear: both;
  } */

/* ---------------------------------------------------------------- */
/* JUMBOTRON    --------------------------------------------------- */
/* ---------------------------------------------------------------- */

.jumbotron {
  background-color: #edeae6;
  /* rgb(199, 177, 114, .3); = #c7b172; Jane Austen */
  /* #edeae6; */
  /* rgb(142, 93, 9) = #8e5d09; */
  /* rgb(169, 163, 137, 0.4); #A9A389 el color XD */
  /* eff2f5 eff2f5 edeae6 f4f1ef f7e8e0 e9ecef 67484d #9b3c2e #9c4b28 8e5d09 655c3d #665745 #756437 #854d0b */
  border-radius: 0;
  /* background:
    radial-gradient(#854d0b 15%, transparent 16%) 0 0,
    radial-gradient(#854d0b 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#854d0b; /* #282828 
    background-size:16px 16px; */
  /* background: linear-gradient(25deg, #D44500 1%, #fff 1%, #fff 49%, #D44500 49%, #D44500 51%, #fff 51%, #fff 99%, #D44500 99%);
    background-size: 6px 6px;
    background-position: 50px 50px; */
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 2rem;
  }
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  max-width: 1320px;
  }
}

/* --------------------------------
Authors Section
--------------------------------*/
#authors {
  display: inline-block;
  height: 100%;
  width: 100%;
}

#authors .author-block {
  background: #fff none repeat scroll 0 0;
  padding: 30px 20px;
  margin-bottom: 30px;
  transition: all 0.5s ease-in-out 0s;
}

#authors .author-block img {
  height: 60px;
  margin-bottom: 30px;
  width: 60px;
}

#authors .author-block:hover {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out 0s;
}

#authors .author-block h2 {
  margin-bottom: 20px;
}

#authors .author-block p {
  margin-bottom: 0;
}


/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
/* .gallery .gallery-item {
  margin-bottom: 30px;
}

.gallery #gallery-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
}

.gallery #gallery-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s;
}

.gallery #gallery-flters li:hover, .gallery #gallery-flters li.filter-active {
  color: #006fbe;
}

.gallery #gallery-flters li:last-child {
  margin-right: 0;
}

.gallery .gallery-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(36, 50, 93, 0.6);
}

.gallery .gallery-wrap::before {
  content: "";
  background: rgba(36, 50, 93, 0.6);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.gallery .gallery-wrap .gallery-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery .gallery-wrap .gallery-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.gallery .gallery-wrap .gallery-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.gallery .gallery-wrap .gallery-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.gallery .gallery-wrap .gallery-info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.gallery .gallery-wrap .gallery-links {
  text-align: center;
  z-index: 4;
}

.gallery .gallery-wrap .gallery-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.gallery .gallery-wrap .gallery-links a:hover {
  color: #25a4ff;
}

.gallery .gallery-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.gallery .gallery-wrap:hover .gallery-info {
  opacity: 1;
}

.gallery .gallery-wrap:hover .gallery-info::before {
  top: 15px;
  left: 15px;
}

.gallery .gallery-wrap:hover .gallery-info::after {
  bottom: 15px;
  right: 15px;
} */